*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
ul, ol{
    list-style: none;
}
img{
    vertical-align: top;
}
a{
    text-decoration: underline;
}
a:hover{
    text-decoration: none;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #070707;
    font-size: 19px;
    line-height: 25px;
}
.container{
    width: 90%;
    max-width: 970px;
    margin: 0 auto;
}

#header{
    height: 0px;
    line-height: 79px;
}

#header .container{
    border-bottom: 1px solid #828282;
}

.main-menu ul{
    list-style: none;
    text-align: center;
}
.main-menu ul li{
    display: inline-block;
    margin: 0 19px;
}
.main-menu ul li a{
    text-decoration: none;
    color: #828282;
}

.main-menu ul li a:hover {
    color: #070707;
}
.header1 {
    font-weight: 700px;
    font-size: 50px;
    line-height: 57px;
}

.portret{
    margin-top: 46px;
}
section{
    padding: 100px 0;
}
.header2 {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 55px;
}

.bg-grey{
    background-color: #e0e0e0;
    margin-top: -56px;
    margin-bottom: 100px;
}

section.bg-grey{
    padding: 66px 0;
}

.content p{
    font-size: 19px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 26px;
}
section.skills{
    padding: 16px 0;
}
.skills{
    display: flex;
    justify-content: stretch;
    margin-top: 50px;
    margin-bottom: 20px;
}
.skills .header2{
    margin-bottom: 27px;
}

.parafraf{
    text-align: center;
    margin-bottom: 50px;
}
.img-skills{
    width: 78px;
    height: 78px;
    margin-bottom: 10px;
}
.text-skills{
   
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 52px;
}


#skills ul li{
    list-style: none;
    text-align: center;
    display: inline-block;
    align-self: center;
}

.portfolio{
    background-color: gainsboro;
    text-align: center;
    margin-top: 211px;
    margin-bottom: 100px;
}

section.portfolio.bg-grey{
    padding: 0;
}

.Fashion-Store{
    margin-bottom: 39px;
}
a{
    margin-bottom: 30px;
}
.back{
    width: 100%;
    background-color: lightgrey;
}

#footer{
    margin-top: 164px;
    margin-bottom: 20px;
}


.btn {
    display: inline-block;
    align: center;
    height: 44px;
    line-height: 44px; 
    background-color: #070707;
    color: white;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 10%;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 22px;
    padding: 0 16px;
    transition: all 0.2s ease;
}
.btn:hover{
    background-color: #fff
    color:#070707;
}

.social .container {
    max-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social .container .text-skills{
    font-weight: 400;
}